body {
  background-color: black;
  color: white;
  margin: 50px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  text-decoration: none;
  gap: 30px;
  padding: 10px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li :hover {
  font-weight: bold;
}